:root {
  --color-white: #fff;
  --color-light-grey: #727272;
  --color-light-aqua: #37ebed;
  --font-xl: 3rem;
  --font-l: 2.4rem;
  --font-m: 1.8rem;
  --font-s: 1.3rem;
}

html {
  font-size: 10px;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}
.btn {
  border: none;
  border-radius: 5px;
  color: var(--color-white);
  font-size: var(--font-m);
  padding: 1.5rem 3rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.heading {
  font-size: var(--font-xl);
  line-height: 3.6rem;
}
